{{ define "home" }}

<!DOCTYPE html>
<head>
  <title>Turns</title>
  <meta charset="UTF-8">
  <meta name="description" content="Turns - An actually good life counter for card games">
  <meta name="author" content="Elliott Rarden">
  <meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
</head>

<html lang="en">
<body>

  <div class="container">
    <h1>Hello World</h1>
  </div>
</body>

</html>
{{ end }}
